/* ROOT SETUP */


:root {
	--c-blue-900: #081030;
	--c-blue-800: #111b40;
	--c-blue-700: #152148;
	--c-blue-500: #1d7bdb;
	--c-blue-300: #293359;
	--c-blue-200: #4e5985;
	--c-blue-100: #dfe8ff;

	--c-green-400: #4ade80;
}


*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-dark-card {
    background-color: #101010;
    border: 1px solid #fbda03;
}

.img-pay {
    height: 20px;
    object-fit: cover;
    margin: 0 5px;
}
/* PRICING TABLE */


.pricingTable{
    background: rgb(22, 21, 21);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 0 0 35px;
    box-shadow: 0 0 15px -2px rgba(0,0,0,0.2);
    overflow: hidden;
}
.pricingTable .pricingTable-header{
    color: #fff;
    background-color: #fbda03;
    padding: 25px 25px 60px;
    margin: 0 -40px 35px;
    /* border-radius: 0 0 50% 50%/0 0 80% 80%; */
    position: relative;
    z-index: 1;
}
.pricingTable .pricingTable-header:before{
    content: '';
    background-color: #1b1919;
    border-radius: inherit;
    position: absolute;
    left: 35px;
    right: 35px;
    bottom: 35px;
    top: 0;
    z-index: -1;
}
.pricingTable .title{
    font-size: 43px;
    font-weight: 300;
    text-transform: capitalize;
    margin: 0 0 20px;
}
.pricingTable .price-value .amount{
    font-size: 43px;
    font-weight: 200;
    line-height: 45px;
    display: block;
}
.pricingTable .duration{
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.pricingTable .pricing-content{
    text-align: left;
    padding: 0;
    margin: 0 0 35px;
    list-style: none;
    display: inline-block;
}
.pricingTable .pricing-content li{
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 35px;
    padding: 0 15px 0 30px;
    margin: 0 0 10px;
    position: relative;
}
.pricingTable .pricing-content li:last-child{ margin: 0; }
.pricingTable .pricing-content li:before{
    content: "✔";
    color: #3A7B12;
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    position: absolute;
    top: 2px;
    left: 0;
}
.pricingTable .pricing-content li.disable:before{
    content: "\f00d";
    color: #F8444A;
}
.pricingTable .pricingTable-signup a{
    color: #333;
    background-color: #fbda03;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    padding: .7rem 2rem;
    transition: all 0.3s;
    width: 100%;
    border-radius: 100px;
}
.pricingTable.red{ --main-color: #ff793f; }
.pricingTable.green{ --main-color: #00C2A5; }
@media only screen and (max-width: 990px){
    .pricingTable{ margin: 0 0 40px; }
}



body {
    background-color: #101010;
}


.passwordInput {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0px !important;
}
.passwordInput:focus{
    outline: none !important;
}

.bg-yellow {
    background-color: #fbda03;
    color: #333;
    margin-right: 10px;
}

.btn-cst  {
    border-radius: 100px;
    padding: .6rem 2rem;
    text-transform: uppercase;
    font-weight: bold;
}
.footer-dark {
    position: absolute;
    bottom: 0;
    background-color: rgb(24, 23, 23);
    width: 100%;
    left: 0;
}
.brand-img{
    height: 100px;
    /* width: 130px;
    border-radius: 100%; */
    object-fit: cover;
}

.header-bg {
    background-color: rgb(24, 23, 23);
}

.header-logo{
    height: 70px;
}

.login-container{
    margin: 100px auto;
    width: 70%;
    /* background-color: orangered; */
}

@media only screen and (max-width: 789px) {
    .login-container{
        margin: 100px auto;
        width: 100%;
        /* background-color: orangered; */
    }
}

.brand-color {
    color: #fbda03;
}

.darkInput {
    background-color: transparent;
    border: 1px solid #fbda03;
    color: #fff;
    transition: all .1s ease-in-out;
    backface-visibility: hidden;
    outline: none;
}

label {
    color: #fff;
}

.btn_cst{
    background-color: #fbda03;
    border-radius: 100px;
    color: #333;
}

.checkInput {
    border-color: #fbda03 !important;
}

.checkInput :checked {
    background-color: #fbda03 !important;
}

.darkInput:focus {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fbda03;
    outline-offset: none;

}

/* Header Video  */

.header {
    position: relative;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.719)),url( '../../images/header-banner.jpg' );
    background-position: center;
    background-size: cover;
}

.header-box {
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%,-50%);
}

.heading-primary{
    display: block;
    font-size: 3rem;
    font-weight: bold;
    color: yellow;
}

.heading-secondary {
    display: block;
    font-size: 1.6rem;
    color: #fff;
    font-weight: normal;
    letter-spacing: 10px;
}

.btn-primary-d,.btn-primary-w {
    padding: .6rem 3rem;
    text-transform: uppercase;
    border-radius: 100px;
}

.btn-primary-d {
    background-color: yellow;
    color: #333;
    margin-right: 10px;
}


.btn-primary-w {
    border: 1px solid #fff;
    color: yellow;

}


.header-nav {
    padding: 1.3rem;;
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    /* border-bottom: 1px solid #eee; */

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.signupBtn, .loginBtn {
    padding: .6rem 2rem;
    border-radius: 100px;
    border: 2px solid transparent;
}

.signupBtn {
    background-color: yellow;
    color: #333 !important;
    margin-left: 2rem;
}

.loginBtn{
    border: 2px solid yellow;
    color: #fff !important;
}

.logo {
    height: 50px;
    margin: 0 2rem;
}

.menu-nav {
    display: flex;
    list-style: none;
    align-items: center;

}

.menu-nav li {
    padding: 0 1rem;
}

.menu-nav li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}